.container {
    height: calc(100vh - (56px + 64px));
    padding: 24px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-size: 33px;
    font-family: SourceSans3SemiBold;
    color: var(--neutral--color-800);
    line-height: 40px;
}

.header {
    width: 100%;
    max-width: 950px;
}

.board {
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    align-items: center;
}