.container {
    height: calc(100% - 56px);
    padding: 24px;
    font-weight: 700;
    position: relative;
}

.h1 {
    font-size: 33px;
    font-family: SourceSans3SemiBold;
    color: var(--neutral--color-800);
    line-height: 40px;
}

.header {
    max-width: 950px;
    margin: auto;
}

.test {
    height: 100%;
    overflow-y: auto;
}