.content {
  height: calc(100vh - (56px + 64px));
  max-width: 996px;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-color-0);
  transition: background-color 0.2s, color 0.2s, fill 0.2s;
  overflow-y: auto;
  position: relative;
}
