.link {
    text-decoration: none;
    font-size: 0px;
    outline: 0px solid transparent;
    outline-offset: 0;
    transition: all 0.2s;
}

.link:focus {
    outline: 2px solid var(--base-white);
    outline-offset: 6px;
    border-radius: 8px;
}
