.sideBar {
    width: 400px;
    height: calc(100vh - (54px + 64px));
    padding: 24px;
    background-color: var(--neutral-color-100);
    overflow-y: auto;
    border-left: 1px solid var(--neutral-color-300, rgba(236, 236, 236, 1))
}
