.footer {
  width: 100%;
  padding: 16px 24px;
  font-family: SourceSans3Regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--neutral-color-600);
  background-color: var(--neutral-color-0);
  transition: all 0.2s;
}

.link {
  color: inherit;
  outline: 0px solid transparent;
  outline-offset: 0;
  transition: all 0.2s;
}

.link:hover {
  color: var(--neutral-color-900);
}

.link:focus-visible {
  color: var(--neutral-color-900);
  outline: 4px solid var(--neutral-color-900);
  outline-offset: 4px;
  border-radius: 4px;
}
