.button {
    padding: 4px;
    display: flex;
    gap: 4px;
    justify-content: center;
    background-color: var(--base-800);
    border: 0;
    border-radius: 8px;
    outline: 0px solid transparent;
    outline-offset: 0;
    transition: all 0.2s;
    cursor: pointer;
}

.button:focus-visible {
    outline: 2px solid var(--base-white);
    outline-offset: 2px;
}

.block {
    width: 32px;
    height: 32px;
    padding: 4px;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    transition: inherit;
    outline: 0;
}

.active {
    background-color: var(--primary-color-400);
}

.active .toggle {
    fill: var(--base-white)
}

.button:hover .active, .button:focus-visible .active {
    background-color: var(--base-white);
}

.button:hover .active .toggle, .button:focus-visible .active .toggle {
    fill: var(--base-900) 
}

.toggle {
    fill: var(--base-600);
    transition: inherit;
}
