@import './normalize.css';
@import './variables.css';

@font-face {
    font-family: SourceSans3Bold;
    src: url(../fonts/SourceSans3-Bold.woff2);
}

@font-face {
    font-family: SourceSans3Regular;
    src: url(../fonts/SourceSans3-Regular.woff2);
}

@font-face {
    font-family: SourceSans3SemiBold;
    src: url(../fonts/SourceSans3-SemiBold.woff2);
}

#root {
    min-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    overflow-y: hidden;
}

[data-theme='dark'] {
    --neutral-color-0: rgba(20, 20, 20, 100%);
    --neutral-color-100: rgba(28, 28, 28, 100%);
    --neutral-color-200: rgba(38, 38, 38, 100%);
    --neutral-color-300: rgba(51, 51, 51, 100%);
    --neutral-color-400: rgba(108, 108, 108, 100%);
    --neutral-color-500: rgba(140, 140, 140, 100%);
    --neutral-color-600: rgba(191, 191, 191, 100%);
    --neutral-color-700: rgba(236, 236, 236, 100%);
    --neutral-color-800: rgba(251, 251, 251, 100%);
    --neutral-color-900: rgba(255, 255, 255, 100%);

    --primary-color-0: rgba(48, 11, 11, 100%);
    --primary-color-100: rgba(70, 19, 19, 100%);
    --primary-color-200: rgba(118, 9, 9, 100%);
    --primary-color-300: rgba(166, 12, 12, 100%);
    --primary-color-400: rgba(213, 16, 16, 100%);
    --primary-color-500: rgba(242, 89, 89, 100%);

    --secondary-color-0: rgba(38, 28, 60, 100%);
    --secondary-color-100: rgba(61, 42, 102, 100%);
    --secondary-color-200: rgba(93, 56, 174, 100%);
    --secondary-color-300: rgba(125, 69, 234, 100%);
    --secondary-color-400: rgba(157, 166, 255, 100%);
    --secondary-color-500: rgba(183, 146, 255, 100%);
}