:root {
    --base-color: rgba(0, 0, 0, 100%);
    --neutral-color-0: rgba(255, 255, 255, 100%);
    --neutral-color-100: rgba(251, 251, 251, 100%);
    --neutral-color-200: rgba(243, 243, 243, 100%);
    --neutral-color-300: rgba(236, 236, 236, 100%);
    --neutral-color-400: rgba(191, 191, 191, 100%);
    --neutral-color-500: rgba(140, 140, 140, 100%);
    --neutral-color-600: rgba(108, 108, 108, 100%);
    --neutral-color-700: rgba(57, 57, 57, 100%);
    --neutral-color-800: rgba(28, 28, 28, 100%);
    --neutral-color-900: rgba(20, 20, 20, 100%);
    --primary-color-0: rgba(255, 244, 244, 100%);
    --primary-color-100: rgba(255, 206, 206, 100%);
    --primary-color-200: rgba(252, 169, 169, 100%);
    --primary-color-300: rgba(242, 89, 89, 100%);
    --primary-color-400: rgba(213, 16, 16, 100%);
    --primary-color-500: rgba(166, 12, 12, 100%);
    --primary-color-600: rgba(118, 9, 9, 100%);
}