.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: sticky;
  top: 0;
  transition: all 0.2s;
}

.h2 {
  font-family: SourceSans3Bold;
  font-weight: 700;
  line-height: 32px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  color: var(--neutral-color-800);
  transition: inherit;
}

.span {
  font-family: SourceSans3Regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  transition: inherit;
}

.iconWoman {
  transition: inherit;
  fill: var(--neutral-color-900);
}

.iconBorder {
  transition: inherit;
  fill: var(--neutral-color-300);
}
